.blog-overall{
    margin-top:30px;
}
.blog-first{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}
.blog-search{
    width: 400px;
    height: 50px;
    background-color: rgb(239, 238, 238);
    border-width: 0px;
    border-radius: 28px;
    border-color: rgb(255, 250, 250);
    font-size: large;
    padding-left: 15px;
}
.phone{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-number{
    font-weight: bold;
    font-size: large;
    margin-bottom: 0;
    padding-bottom: 0s;
}
.available-time{
    padding: o;
    margin: o;
    color: gray;
}
.blog-input-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search-link{
    position: absolute;
    right: 5px;
}
.search-link:hover{
   cursor: pointer;
}
.image1{
    width: 300px;
    height: fit-content;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
    border-width: 0px;
    display: flex;
    justify-content: center;
}
.image1:hover{
    transform: scale(1.14);
}

.blog-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
     
}
.blog-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 226, 226);
    margin: 20px;
}
.blog-body-parts{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.blog-writer-time{
    margin-top: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.user-icon{
    margin: 3px;
    color: rgb(171, 170, 170);
}
.writer-name{
    margin: 3px;
    margin-right: 15px;
    color: rgb(89, 89, 89);
}
.writer-name:hover{
    color: rgb(255, 77, 106);
    transition: color 0.3s;
}
.clock-icon{
    margin: 3px;
    color: rgb(171, 170, 170);
}
.blog-time{
    margin: 3px;
    color: rgb(89, 89, 89);
}
.blog-title{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
}
.blog-title:hover{
    color: rgb(255, 77, 106);
    transition: color 0.3s;
}
.blog-title-link{
    text-decoration: none;
    color: inherit;
}
.blog-title-link:hover{
    background-color: transparent;
}
.read-more{
    display: flex;
    justify-content: start;
    align-items: center;

}
.read-more p{
    color: rgb(83, 82, 82); ;
    transition: color 0.3s;
}

.read-more-link:hover .read-more p,
.read-more-link:hover .read-more .arrow-icon {
    color:rgb(255, 77, 106);
    transition: color 0.3s;
}
.read-more-link:hover{
    background-color: inherit;
    
}

.arrow-icon{
    font-weight: 100;
    margin-left:8px;
    color: rgb(83, 82, 82);
    transition: color 0.3s;transition: color 0.3s;
}
