.sorting-container{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 40px;
margin-bottom: 10px;

}
.sorting{
    display: flex;
    align-items: center;
    /* width: 50%; */
}
.sorting-p{
    font-size: 20px;
    font-weight: 120px;
    padding: 0;
    margin: 0;
}
.button-container{
    display: flex;
}
.button-container button{
    margin-left: 20px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 17px;
    width: max-content;
    padding: 2px 9px;
    /* padding: 8px; */
}
.catagory-button{
    color: black;
    background-color: white;
}
.catagory-button:hover{
    background-color: rgb(245, 245, 245);
}
.active-button{
    background-color: rgb(214, 214, 214)
}
.search-keyword-container{
    position: relative;
    margin-right: 70px;
}
.search-keyword{
    margin-right: 30px;
    width: 300px;
    height: 35px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 17px;
}
.search-icon{
    position: absolute;
    top: 7px;
    right: 20px;
    /* left: 20px; */
}
.images-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.images{
    width: 300px;
    height: auto;
}