.first-part{
    display: flex;
}
.first-p{
    font-size: 50px;
    font-weight: bold;
}

.contact-with-icon{
    display: flex;
    /* justify-content: center; */
    align-items: center;  
}
.icon{
    margin-right:10px ;
}
.second-part{
    font-size: 30px;
    font-weight: bold;
}
.message-form{
    display: flex;
    flex-direction:column ;
    
}
.name{
   width: 500px;
   height: 40px;
}
.phon{
    width: 500px;
    height: 40px;
 }
 .email{
    width: 500px;
    height: 40px;
 }
.subject{
    width: 500px;
    height: 40px;
 }
 .message{
    width: 500px;
    height: 40px;
 }
 .submit{
    width: 500px;
    height: 40px;
 }