*{
    font: serif;
}
.first-part{
    display: flex;
    justify-content:space-around;
    margin-top: 40px;
}
.logo{
    font-family: serif;
    font-style: italic;
    font-size: 89px;
    
}
.logo-container{
    width: 350px;
}

.image1{
    width: 500px;
    height: auto;
}

.imagelist{
     display: flex;
     justify-content:space-around ;
}
.image{
    width: 250px;
    height: auto;
    border-radius: 5px;
}
.lastImages{
    width: 250px;
    height: auto;
    border-radius: 5px;
}
.featured{
    margin-bottom: 20px;
    margin-top: 40px;
    padding-left: 20px;
    font-size: large;
    font-weight: 100px;
}

.Message-container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
}
.third-part{
    display: flex;
    justify-content: space-around;
}
.final-part{
    margin:70px 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    
    
  
}
.final-part p{
    flex: 1;
    text-align: center;
    font-size: 40px;
    font-family: serif;
    font-display: center;
    margin: 40px;
}